language: java

jdk:
 - oraclejdk8
 - oraclejdk11
 - openjdk8
 - openjdk11
 
before_install:
 - chmod +x gradlew

install:
 - ./gradlew assemble -x signArchives

script:
 - ./gradlew check -x signArchives

